html, body, h1, h2, h3, h4, h5, h6, p, span, ul, li, form, input {
   margin: 0;
   padding: 0;
}

button {
   box-shadow: none;
   background-color: none;
   border: none;
}

body {
   height: 100vh;
   color: #fff;
   font-family: sans-serif;
   text-align: center;
   background-image: linear-gradient(to left, #44A08D, #093637);
}

header {
   padding: 15px 0;
}

#main-part {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   height: 90vh;
}

#main-part p {
   font-size: 4rem;
}

#main-part div {
   display: flex;
   justify-content: center;
}

#main-part button {
   background-color: #EFEFEF;
   color: #44A08D;
   font-size: 2rem;
   border-radius: 30px;
   margin: 20px;
   padding: 10px 30px;
   cursor: pointer;
   overflow: hidden;
   user-select: none;
   position: relative;
}

.blink {
   animation: blink 2s infinite;
}

.ink {
   display: block;
   position: absolute;
   background: hsl(180, 40%, 80%);
   border-radius: 100%;
   transform: scale(0);
}

.ink.animate {
   animation: ripple 0.65s linear;
}

@keyframes blink {
   0%, 100% {
      opacity: 1;
   }
   50% {
      opacity: 0;
   }
}

@keyframes ripple {
   100% {
      opacity: 0;
      transform: scale(2.5);
   }
}
